.gallery {
  columns: 3;
  column-gap: 0;
}

.item {
  break-inside: avoid;
  background: #f1f1ee;
}

.image {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .gallery {
    columns: 1;
  }
}
